In [1]:
import pandas as pd
import json as js
import numpy as np
import time

In [2]:
t_start=time.time()
columns=['msno','artist_id','song_id']
dataset2=pd.DataFrame(columns=columns)
dataset2=dataset2.groupby(['msno','artist_id']).count()
#dataset2=dataset2.groupby('artist_id','msno').count()
#dataset2['couunt_number']=dataset2.groupby(['artist_id','msno']).transform('count')
for i in range(97,101,1):
    for j in range(97,123,1):
        m='a'+chr(i)+chr(j)
        dataset=pd.read_csv(m,sep='\t')
        dataset=dataset.drop(['count_artist_id','artist_name','name'],axis=1)
        #dataset['count_number']=dataset.groupby(['artist_id','msno']).transform('count')
        dataset=dataset.groupby(['msno','artist_id']).count()
        dataset2=dataset2.add(dataset,fill_value=0)
        print m,
        if(i==100 and j==108):
            break
t_end=time.time()
t_result=t_end-t_start
print t_result
dataset2=dataset2.reset_index()
dataset2.rename(columns={'song_id': 'count_number'}, inplace=True)
dataset2

aaa aab aac aad aae aaf aag aah aai aaj aak aal aam aan aao aap aaq aar aas aat aau aav aaw aax aay aaz aba abb abc abd abe abf abg abh abi abj abk abl abm abn abo abp abq abr abs abt abu abv abw abx aby abz aca acb acc acd ace acf acg ach aci acj ack acl acm acn aco acp acq acr acs act acu acv acw acx acy acz ada adb adc add ade adf adg adh adi adj adk adl 23715.95

                   msno  artist_id  count_number
0                     7       14.0           1.0
1                     7      584.0           5.0
2                     7     1139.0           1.0
3                     7     3404.0           5.0
4                     7     5301.0           1.0
5                     7     6650.0           2.0
6                     7     6651.0          11.0
7                     7     9423.0           2.0
8                     7    11476.0           1.0
9                     7    14424.0           2.0
10                    7    18153.0           1.0
11                    7    25560.0           1.0
12                    7    29702.0           3.0
13                    7    43884.0           3.0
14                    7    43934.0           3.0
15                    7    49897.0           3.0
16                    7    56876.0           3.0
17                    7    57599.0           1.0
18                    7   247797.0           3.0
19                    7  2246889.0           2.0
20                    7  2993763.0           1.0
21                    7  3092769.0           2.0
22                    7  5004709.0           1.0
23                    7  5603802.0          13.0
24                    7  6931185.0           1.0
25                    7  7154336.0           1.0
26                   17       14.0           4.0
27                   17       82.0          71.0
28                   17      839.0           1.0
29                   17     4261.0           1.0
...                 ...        ...           ...
118597127  338070124467  7265099.0           1.0
118597128  338070124472     4261.0           2.0
118597129  338070124472  2350304.0           1.0
118597130  338070124472  2719659.0           1.0
118597131  338070124494     4261.0           1.0
118597132  338070124494  2578468.0           1.0
118597133  338070124499    49897.0           1.0
118597134  338070124499    52634.0           1.0
118597135  338070124506     5750.0           1.0
118597136  338070124506     5865.0           1.0
118597137  338070124506    31603.0           1.0
118597138  338070124506   817831.0           1.0
118597139  338070124506  3092769.0           1.0
118597140  338070124517  2424531.0           1.0
118597141  338070124547  2853107.0           1.0
118597142  338070124547  4058209.0           2.0
118597143  338070124549      278.0           5.0
118597144  338070124549     6443.0           2.0
118597145  338070124549     6651.0           1.0
118597146  338070124552      278.0           1.0
118597147  338070124552     6651.0           1.0
118597148  338070124552     6655.0           1.0
118597149  338070124562     9427.0           1.0
118597150  338070124565    43615.0           3.0
118597151  338070124565    52634.0           1.0
118597152  338070124565   819071.0           1.0
118597153  338070124565  2907949.0           1.0
118597154  338070124565  5996060.0           1.0
118597155  338070124579     5263.0           8.0
118597156  338070124579   197515.0           3.0

[118597157 rows x 3 columns]

In [3]:
dataset3=dataset2.groupby('msno').count()
dataset3=dataset3.reset_index()
dataset3

                 msno  artist_id  count_number
0                   7         26            26
1                  17         22            22
2                  18         99            99
3                  22        127           127
4                  70         35            35
5                 116        150           150
6                 275          1             1
7                 298         38            38
8                 324        152           152
9                 334         53            53
10                439         14            14
11                446         41            41
12                461         17            17
13                505         26            26
14                560         60            60
15                660         67            67
16                682         32            32
17                861        173           173
18                864         75            75
19                886        162           162
20                977        110           110
21                981        152           152
22               1020         25            25
23               1078         77            77
24               1092        105           105
25               1096         40            40
26               1124          5             5
27               1129        289           289
28               1240          5             5
29               1261         31            31
...               ...        ...           ...
1333176  338070124228          2             2
1333177  338070124265          1             1
1333178  338070124272          4             4
1333179  338070124286          1             1
1333180  338070124311          2             2
1333181  338070124320          3             3
1333182  338070124324          1             1
1333183  338070124333          1             1
1333184  338070124342          1             1
1333185  338070124347          3             3
1333186  338070124351          2             2
1333187  338070124354          4             4
1333188  338070124418          1             1
1333189  338070124425          3             3
1333190  338070124430          4             4
1333191  338070124431          2             2
1333192  338070124436          2             2
1333193  338070124461          3             3
1333194  338070124467          2             2
1333195  338070124472          3             3
1333196  338070124494          2             2
1333197  338070124499          2             2
1333198  338070124506          5             5
1333199  338070124517          1             1
1333200  338070124547          2             2
1333201  338070124549          3             3
1333202  338070124552          3             3
1333203  338070124562          1             1
1333204  338070124565          5             5
1333205  338070124579          2             2

[1333206 rows x 3 columns]

In [10]:
dataset3=dataset3.sort_values('count_number',ascending=False)
#dataset3=dataset3.drop('artist_id',axis=1)
dataset3['rank_number']=dataset3['count_number'].rank(method='dense' ,ascending=False)
dataset3

                 msno  count_number  rank_number
754476      126855019          2006          1.0
188185       11332229          1835          2.0
321548       27938905          1807          3.0
145953        8569557          1787          4.0
138705        8041702          1741          5.0
1015422     156447404          1706          6.0
950691      149739079          1686          7.0
4111           356448          1638          8.0
265445       22522951          1575          9.0
200569       12272519          1568         10.0
702683      122381975          1563         11.0
101747        5820698          1540         12.0
56594         3211864          1527         13.0
178342       10416971          1525         14.0
108111        6190563          1522         15.0
25574         1658921          1514         16.0
706373      122686943          1466         17.0
834584      136469194          1460         18.0
398810       40853774          1458         19.0
358037       33683295          1455         20.0
62771         3524218          1423         21.0
45754         2693109          1417         22.0
61087         3442676          1414         23.0
765525      127694450          1413         24.0
682945      117170194          1410         25.0
890681      142459456          1409         26.0
671975      109875628          1406         27.0
381423       36901896          1396         28.0
1148185  338067841834          1395         29.0
863830      139740850          1391         30.0
...               ...           ...          ...
1285934  338069625175             1       1202.0
1073206  338064843554             1       1202.0
467114       55272713             1       1202.0
1073162  338064840919             1       1202.0
1285933  338069625173             1       1202.0
1285890  338069624564             1       1202.0
1242690  338069232753             1       1202.0
1073196  338064841977             1       1202.0
60184         3394054             1       1202.0
895954      142902364             1       1202.0
954980      150353230             1       1202.0
466954       55243508             1       1202.0
1285903  338069624680             1       1202.0
1285904  338069624716             1       1202.0
1158821  338068102255             1       1202.0
130858        7532595             1       1202.0
268494       22973911             1       1202.0
1285908  338069624767             1       1202.0
466980       55251560             1       1202.0
750451      126551630             1       1202.0
60154         3392516             1       1202.0
929589      146967025             1       1202.0
1158825  338068102361             1       1202.0
1285916  338069624874             1       1202.0
268497       22974525             1       1202.0
1073170  338064841118             1       1202.0
1285919  338069624923             1       1202.0
929586      146966569             1       1202.0
1158839  338068102646             1       1202.0
829204      135653041             1       1202.0

[1333206 rows x 3 columns]

In [12]:
dataset3=dataset3.drop_duplicates(['count_number'], keep='last')
dataset3

                 msno  count_number  rank_number
754476      126855019          2006          1.0
188185       11332229          1835          2.0
321548       27938905          1807          3.0
145953        8569557          1787          4.0
138705        8041702          1741          5.0
1015422     156447404          1706          6.0
950691      149739079          1686          7.0
4111           356448          1638          8.0
265445       22522951          1575          9.0
200569       12272519          1568         10.0
702683      122381975          1563         11.0
101747        5820698          1540         12.0
56594         3211864          1527         13.0
178342       10416971          1525         14.0
108111        6190563          1522         15.0
25574         1658921          1514         16.0
706373      122686943          1466         17.0
834584      136469194          1460         18.0
398810       40853774          1458         19.0
358037       33683295          1455         20.0
62771         3524218          1423         21.0
45754         2693109          1417         22.0
61087         3442676          1414         23.0
765525      127694450          1413         24.0
682945      117170194          1410         25.0
890681      142459456          1409         26.0
671975      109875628          1406         27.0
381423       36901896          1396         28.0
1148185  338067841834          1395         29.0
863830      139740850          1391         30.0
...               ...           ...          ...
648286      105682975            30       1173.0
176725       10360115            29       1174.0
113217        6475918            28       1175.0
1084540  338065487082            27       1176.0
669166      109455314            26       1177.0
589771       90458156            25       1178.0
1204625  338068870894            24       1179.0
673672      110144524            23       1180.0
1188014  338068666926            22       1181.0
325035       28536706            21       1182.0
722781      124086113            20       1183.0
797463      131284987            19       1184.0
421441       45821434            18       1185.0
914992      144857248            17       1186.0
1313330  338069918241            16       1187.0
394120       39573392            15       1188.0
149507        8817167            14       1189.0
302831       25702276            13       1190.0
1298647  338069769547            12       1191.0
247257       19553711            11       1192.0
630478      101468451            10       1193.0
1541           125823             9       1194.0
1254036  338069327596             8       1195.0
514556       66158732             7       1196.0
1050373  338063273414             6       1197.0
256709       21569901             5       1198.0
359639       33852831             4       1199.0
234014       16906175             3       1200.0
830330      135818314             2       1201.0
829204      135653041             1       1202.0

[1202 rows x 3 columns]

In [13]:
dataset3.to_csv('msno_rank.csv',sep=',',encoding='utf-8',index=False)

In [22]:
df=dataset2.groupby(['msno'])['count_number'].sum()
df=df.reset_index()
df

                 msno  count_number
0                   7          73.0
1                  17         272.0
2                  18         733.0
3                  22         392.0
4                  70        3310.0
5                 116        1101.0
6                 275           1.0
7                 298          86.0
8                 324         746.0
9                 334         356.0
10                439          62.0
11                446         231.0
12                461         179.0
13                505         357.0
14                560          98.0
15                660        1286.0
16                682         318.0
17                861        1617.0
18                864         531.0
19                886         488.0
20                977        1338.0
21                981         673.0
22               1020        1386.0
23               1078         470.0
24               1092         995.0
25               1096         220.0
26               1124          68.0
27               1129        1755.0
28               1240           9.0
29               1261          77.0
...               ...           ...
1333176  338070124228           2.0
1333177  338070124265           5.0
1333178  338070124272           5.0
1333179  338070124286           1.0
1333180  338070124311           3.0
1333181  338070124320           3.0
1333182  338070124324           2.0
1333183  338070124333          10.0
1333184  338070124342           2.0
1333185  338070124347           5.0
1333186  338070124351           2.0
1333187  338070124354           5.0
1333188  338070124418           3.0
1333189  338070124425           6.0
1333190  338070124430           4.0
1333191  338070124431           4.0
1333192  338070124436           3.0
1333193  338070124461           4.0
1333194  338070124467           2.0
1333195  338070124472           4.0
1333196  338070124494           2.0
1333197  338070124499           2.0
1333198  338070124506           5.0
1333199  338070124517           1.0
1333200  338070124547           3.0
1333201  338070124549           8.0
1333202  338070124552           3.0
1333203  338070124562           1.0
1333204  338070124565           7.0
1333205  338070124579          11.0

[1333206 rows x 2 columns]

In [23]:
df.rename(columns={'count_number': 'total'}, inplace=True)
df2=dataset2.merge(df,on='msno',how='left')

In [25]:
df2=df2.drop('r',axis=1)
df2

                   msno  artist_id  count_number  total
0                     7       14.0           1.0   73.0
1                     7      584.0           5.0   73.0
2                     7     1139.0           1.0   73.0
3                     7     3404.0           5.0   73.0
4                     7     5301.0           1.0   73.0
5                     7     6650.0           2.0   73.0
6                     7     6651.0          11.0   73.0
7                     7     9423.0           2.0   73.0
8                     7    11476.0           1.0   73.0
9                     7    14424.0           2.0   73.0
10                    7    18153.0           1.0   73.0
11                    7    25560.0           1.0   73.0
12                    7    29702.0           3.0   73.0
13                    7    43884.0           3.0   73.0
14                    7    43934.0           3.0   73.0
15                    7    49897.0           3.0   73.0
16                    7    56876.0           3.0   73.0
17                    7    57599.0           1.0   73.0
18                    7   247797.0           3.0   73.0
19                    7  2246889.0           2.0   73.0
20                    7  2993763.0           1.0   73.0
21                    7  3092769.0           2.0   73.0
22                    7  5004709.0           1.0   73.0
23                    7  5603802.0          13.0   73.0
24                    7  6931185.0           1.0   73.0
25                    7  7154336.0           1.0   73.0
26                   17       14.0           4.0  272.0
27                   17       82.0          71.0  272.0
28                   17      839.0           1.0  272.0
29                   17     4261.0           1.0  272.0
...                 ...        ...           ...    ...
118597127  338070124467  7265099.0           1.0    2.0
118597128  338070124472     4261.0           2.0    4.0
118597129  338070124472  2350304.0           1.0    4.0
118597130  338070124472  2719659.0           1.0    4.0
118597131  338070124494     4261.0           1.0    2.0
118597132  338070124494  2578468.0           1.0    2.0
118597133  338070124499    49897.0           1.0    2.0
118597134  338070124499    52634.0           1.0    2.0
118597135  338070124506     5750.0           1.0    5.0
118597136  338070124506     5865.0           1.0    5.0
118597137  338070124506    31603.0           1.0    5.0
118597138  338070124506   817831.0           1.0    5.0
118597139  338070124506  3092769.0           1.0    5.0
118597140  338070124517  2424531.0           1.0    1.0
118597141  338070124547  2853107.0           1.0    3.0
118597142  338070124547  4058209.0           2.0    3.0
118597143  338070124549      278.0           5.0    8.0
118597144  338070124549     6443.0           2.0    8.0
118597145  338070124549     6651.0           1.0    8.0
118597146  338070124552      278.0           1.0    3.0
118597147  338070124552     6651.0           1.0    3.0
118597148  338070124552     6655.0           1.0    3.0
118597149  338070124562     9427.0           1.0    1.0
118597150  338070124565    43615.0           3.0    7.0
118597151  338070124565    52634.0           1.0    7.0
118597152  338070124565   819071.0           1.0    7.0
118597153  338070124565  2907949.0           1.0    7.0
118597154  338070124565  5996060.0           1.0    7.0
118597155  338070124579     5263.0           8.0   11.0
118597156  338070124579   197515.0           3.0   11.0

[118597157 rows x 4 columns]

In [26]:
df2['rate']=df2['count_number']/df2['total']
df2

                   msno  artist_id  count_number  total      rate
0                     7       14.0           1.0   73.0  0.013699
1                     7      584.0           5.0   73.0  0.068493
2                     7     1139.0           1.0   73.0  0.013699
3                     7     3404.0           5.0   73.0  0.068493
4                     7     5301.0           1.0   73.0  0.013699
5                     7     6650.0           2.0   73.0  0.027397
6                     7     6651.0          11.0   73.0  0.150685
7                     7     9423.0           2.0   73.0  0.027397
8                     7    11476.0           1.0   73.0  0.013699
9                     7    14424.0           2.0   73.0  0.027397
10                    7    18153.0           1.0   73.0  0.013699
11                    7    25560.0           1.0   73.0  0.013699
12                    7    29702.0           3.0   73.0  0.041096
13                    7    43884.0           3.0   73.0  0.041096
14                    7    43934.0           3.0   73.0  0.041096
15                    7    49897.0           3.0   73.0  0.041096
16                    7    56876.0           3.0   73.0  0.041096
17                    7    57599.0           1.0   73.0  0.013699
18                    7   247797.0           3.0   73.0  0.041096
19                    7  2246889.0           2.0   73.0  0.027397
20                    7  2993763.0           1.0   73.0  0.013699
21                    7  3092769.0           2.0   73.0  0.027397
22                    7  5004709.0           1.0   73.0  0.013699
23                    7  5603802.0          13.0   73.0  0.178082
24                    7  6931185.0           1.0   73.0  0.013699
25                    7  7154336.0           1.0   73.0  0.013699
26                   17       14.0           4.0  272.0  0.014706
27                   17       82.0          71.0  272.0  0.261029
28                   17      839.0           1.0  272.0  0.003676
29                   17     4261.0           1.0  272.0  0.003676
...                 ...        ...           ...    ...       ...
118597127  338070124467  7265099.0           1.0    2.0  0.500000
118597128  338070124472     4261.0           2.0    4.0  0.500000
118597129  338070124472  2350304.0           1.0    4.0  0.250000
118597130  338070124472  2719659.0           1.0    4.0  0.250000
118597131  338070124494     4261.0           1.0    2.0  0.500000
118597132  338070124494  2578468.0           1.0    2.0  0.500000
118597133  338070124499    49897.0           1.0    2.0  0.500000
118597134  338070124499    52634.0           1.0    2.0  0.500000
118597135  338070124506     5750.0           1.0    5.0  0.200000
118597136  338070124506     5865.0           1.0    5.0  0.200000
118597137  338070124506    31603.0           1.0    5.0  0.200000
118597138  338070124506   817831.0           1.0    5.0  0.200000
118597139  338070124506  3092769.0           1.0    5.0  0.200000
118597140  338070124517  2424531.0           1.0    1.0  1.000000
118597141  338070124547  2853107.0           1.0    3.0  0.333333
118597142  338070124547  4058209.0           2.0    3.0  0.666667
118597143  338070124549      278.0           5.0    8.0  0.625000
118597144  338070124549     6443.0           2.0    8.0  0.250000
118597145  338070124549     6651.0           1.0    8.0  0.125000
118597146  338070124552      278.0           1.0    3.0  0.333333
118597147  338070124552     6651.0           1.0    3.0  0.333333
118597148  338070124552     6655.0           1.0    3.0  0.333333
118597149  338070124562     9427.0           1.0    1.0  1.000000
118597150  338070124565    43615.0           3.0    7.0  0.428571
118597151  338070124565    52634.0           1.0    7.0  0.142857
118597152  338070124565   819071.0           1.0    7.0  0.142857
118597153  338070124565  2907949.0           1.0    7.0  0.142857
118597154  338070124565  5996060.0           1.0    7.0  0.142857
118597155  338070124579     5263.0           8.0   11.0  0.727273
118597156  338070124579   197515.0           3.0   11.0  0.272727

[118597157 rows x 5 columns]

In [31]:
f=df2[df2['msno']==338070124499]
f['rate'].sum()

1.0

In [32]:
#df2.to_csv('finish_msno_rate',sep=',',encoding='utf-8',index=False)

In [33]:
f

                   msno  artist_id  count_number  total  rate
118597133  338070124499    49897.0           1.0    2.0   0.5
118597134  338070124499    52634.0           1.0    2.0   0.5

In [36]:
from scipy.stats import entropy
entropy(df2.groupby('msno'['rate'])

0.69314718055994529

In [2]:
import math
(-0.5 * math.log(0.5,2))-((1-0.5)*math.log(0.5,2))

1.0

In [3]:
(-0.6 * math.log(0.6,2))-((1-0.6)*math.log(0.4,2))

0.9709505944546686

In [4]:
(-0.2* math.log(0.2,2))-((1-0.2)*math.log(0.8,2))

0.7219280948873623

In [ ]:
(-0.5 * math.log(0.5,2))-((1-0.5)*math.log(0.5,2))